<footer id="about" class="footer">
    <div class="container">
        <!-- Seção About Us -->
        <div class="footer-section">
            <h3>About Us</h3>
            <p>We provide timely and accurate information on natural disasters around the globe.</p>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
        </div>

        <!-- Seção Testemunho -->
        <div class="footer-section">
            <div class="testimony">
                <h3>Give your testimony</h3>
                <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
            </div>
            <p>Your story can inspire others. Share your testimony and be part of this journey with us!</p>
        </div>

        <!-- Seção Doação -->
        <div class="footer-section">
            <div class="donation">
                <h3>Make a donation</h3>
                <a href="#donation"><i class="fa-solid fa-square-plus"></i></a>
            </div>
            <p>Your generosity can make a difference. Donate now and help transform lives!</p>
        </div>

        <!-- Seção Logo -->
        <div class="footer-logo">
            <img src="assets\img\disaster-logo-bg.png" alt="Disaster Logo">
            <p>&copy; 2025 Disaster. All Rights Reserved.</p>
        </div>
        
    </div>
</footer>
