.header {
    position: relative;
    height: 500px;
    background: url('../../../../public/assets/img/fundo-azul.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(8px);
    z-index: 0;
}

.header-text {
    z-index: 1;
    position: relative;
}

.hero {
    background-color: #1e40af;
    color: white;
    padding: 4rem 2rem;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.her{
    color:#000000;
    padding: 4rem 2rem;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: #3b82f6;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #1e40af;
    transform: scale(1.05);
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 4rem 2rem;
}

.feature {
    text-align: center;
    max-width: 300px;
    background: none; /* Remove o fundo */
    color: black; /* Define a cor padrão do texto */
    transition: transform 0.3s ease, color 0.3s ease;
}

.feature i {
    font-size: 3rem;
    color: black; /* Ícones pretos por padrão */
    margin-bottom: 1rem;
    transition: color 0.3s ease;
}

.feature:hover {
    transform: translateY(-10px); /* Efeito de "saltar" */
    color: #3b82f6; /* Cor azul ao passar o mouse */
}

.feature:hover i {
    color: #3b82f6; /* Ícones mudam para azul */
}


.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    color: white;
    background-color: #4d59c3;
    border-radius: 20px;
    width: 250px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #3e49b5;
    background-color: rgb(176, 184, 226);
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 15px;
}

.card .name {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 5px;
}

.card .role {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 15px;
}

.card .description {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
}
