
<aside id="sidebar">
    <nav>
        <ul>
            <li class="search-item">
                <a href="#testimonials">
                    <i class="fas fa-quote-left"></i> Testimonials
                    <span></span>
                </a>
            </li>
            <li class="search-item">
                <a href="#donations">
                    <i class="fas fa-donate"></i> Donate
                    <span></span>
                </a>
            </li>
            <li class="search-item">
                <a href="#volunteer">
                    <i class="fas fa-user"></i> Volunteer
                    <span></span>
                </a>
            </li>
            <li class="search-item">
                <a href="#ongs">
                    <i class="fas fa-hands-helping"></i> Ongs
                    <span></span>
                </a>
            </li>
            <li class="search-item">
                <a href="#about" class="nav-link">
                    <i class="fa-solid fa-info-circle"></i> About Us
                    <span class="underline"></span>
                </a>
            </li>

            <app-menu></app-menu>

        </ul>
    </nav>
</aside>
