<header class="header">
    <div class="header-container">
        <div class="logo-container">
            <img src="assets/img/disaster-logo-bg.png" alt="Disaster Logo" class="logo">
            <h1 class="logo-text"><a href="index.html">DISASTER</a></h1>
        </div>

        <div class="nav-links">
            <a [routerLink]="['/app-home-page']" class="nav-link">
                <i class="fas fa-home"></i> Home
                <span class="underline"></span>
            </a>
            
            <a [routerLink]="['/app-origin']" class="nav-link">
                <i class="fa-solid fa-map-marker-alt"></i> Origin of Disaster
                <span class="underline"></span>
            </a>            

            <a href="#news" class="nav-link">
                <i class="fa-solid fa-newspaper"></i> Disaster News
                <span class="underline"></span>
            </a>

            <a [routerLink]="['/app-login']" class="user-icon">
                <i class="fa-solid fa-user"></i> Login
            </a>
        </div>
    </div>
</header>